*{
    font-family:Arial;
    box-sizing: border-box;
}
body{
    
    margin:0;
    padding: 0;
}
header{
    height: 100px;
    background-color: #333;
    color: white;
    
    
}
.header{
    max-width: 1300px;
    height: 100px;
    display: flex;
    margin:auto;
    align-items: center;
}
.container{
    padding:0 25px;
    width: 1300px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
/* .logo{

} */

.menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul li{
    list-style: none;
    margin: 0px 10px;
    
    

}
.menu ul li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.menu ul li .active, .menu ul li a:hover{
    color: #999;
}
.menu-mobile{
    width: 34px;
    height: 34px;
    display:none;
    flex-direction: column;
    justify-content: space-between;
}

.menu-mobile .menu-item{
    height: 6px;
    width: 34px;
    background-color: #FFF;
}

.main{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px)
}
.main-header, .main-header .container{
    background-color: #999;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    justify-content: center;
}
form input{
    width: 400px;
    font-size: 20px;
    outline: none;
    border: none;
    background-color: #FFF;
    border-radius: 2px;
}


@media(max-width:750px){
    .menu nav{
        display: none;
    }
    .menu-mobile{
        display: flex;
        cursor: pointer;
    }
    .main{
        height: auto;
    }
}