
*{
    font-family:Arial;
    box-sizing: border-box;
}
body{
    
    margin:0;
    padding: 0;
}
header{
    height: 100px;
    background-color: #333;
    color: white;
    
    
}
.header{
    max-width: 1300px;
    height: 100px;
    display: flex;
    margin:auto;
    align-items: center;
}
.container{
    padding:0 25px;
    width: 1300px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
/* .logo{

} */

.menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul li{
    list-style: none;
    margin: 0px 10px;
    
    

}
.menu ul li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.menu ul li .active, .menu ul li a:hover{
    color: #999;
}